
.navbar-center{
    position: absolute;
    left: 65%;
}

.color-azul-oscuro{
    background-color: #204d74;
}

#calendar{
	width: 900px;
	margin: auto;
}

.invalid-feedback{
    color: red;
 }

 .error-message{
    color: red;
 }