{% extends "sala_reuniones/base.html" %}
{% load crispy_forms_tags %}

{% block css %}
	{{ form.media.css }}
{% endblock css %}


{% block content %}
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Agregar reserva</strong></div>	
			<div class="panel-body">
				<form action="" method="POST">{% csrf_token %}
					<div class="form-group">
						{{ form|crispy }}
					</div>
					{% if user.id == reserva.user_id or reserva.user_id == nulla %}
						{% if aux2 >= aux  %}
							<div class="form-group">
								<button class="btn btn-default" type="submit">
									{% if editar %}
										Editar
									{% else %}
										Reservar
									{% endif %}
								</button>
								{% if editar %}
									<a href="{% url 'sala_reuniones:eliminar_reserva' pk=pk  %}" class="btn btn-danger">Eliminar</a>
								{% endif %}
								

							</div>
						{% endif %}	
					{% endif %}
					<a href="http://192.168.0.13:8080/sala_reuniones/listar/reservas/calendario/" class="btn btn-success">Volver</a>
				</form>
			</div>
		</div>
	</div>
	
		{% if aux2 < aux  %}
					<div class="panel-footer">
						<div class="alert alert-danger">
							<strong>¡Atención!</strong>
							Esta reserva ya pasó.
						</div>
					</div>
		{% endif %}	
		<!-- {% if form.errors  %}
					<div class="panel-footer">
						<div class="alert alert-danger">
							<strong>¡Atención!</strong>
							{{ form.errors }}
						</div>
					</div>
		{% endif %}	 -->

	
{% endblock content %}

{% block content_extra %}
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">{{ sala_reunion }}</div>
			<div class="panel-body">
				<strong>Horarios:</strong><br>
				{% for horario in horarios %}
					<span class="label label-primary">{{ horario }}</span>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock content_extra %}

{% block js_extra %}

	{{ form.media.js }}
	<script>
		$(document).ready(function(){
			$.fn.datepicker.defaults.language = 'es';

			$('#id_fecha').datepicker({

				autoclose: true,
				todayHighlight: true,
				format: 'dd/mm/yy'
			});

			$('#div_id_user').hide();

			$('#div_id_hora_inicio').clockpicker({
				donetext: 'Done',
				autoclose: true
			});
			
			$('#div_id_hora_final').clockpicker({
				donetext: 'Done',
				autoclose: true
			});

		});
	</script>
{% endblock js_extra %}